body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 8px;
}

@media (min-width: 768px) { 
    .container {
        flex-direction: column;
    }
}

.content {
    padding: 3% 2%;
}